<h1>Groepen</h1>
{{#link-to 'groups.add' class="btn"}}{{fa-icon 'plus'}} Groep toevoegen{{/link-to}}
<ul>
  {{#each model as |group|}}
    <li class="group-item">
		{{group.name}}	
		<a {{action 'removeGroup' group}}>{{fa-icon 'trash'}}</a>
		{{#link-to 'groups.edit' group }}{{fa-icon 'pencil'}}{{/link-to}}		
	</li>
  {{/each}}
</ul>

