<h1>Analyses</h1>

{{log model}}

<ul>
  {{#each model as |analyse|}}
    <li class="video-item">
		{{#link-to 'videos.show' analyse}}
		{{analyse.type}}
		<section class="info">
			<h3>{{analyse.name}}</h3>
			<hr>
			<p>{{analyse.description}}</p>
			<hr>
			<button>Bekijk</button>
			<button {{action 'removeAnalyse' analyse}}>x</button>
		</section>
		{{/link-to}}
	</li>
  {{/each}}
</ul>
