<header id="main">
	{{#link-to 'dashboard' id="logo"}}<img src="assets/images/logo.png"/>{{/link-to}}
	<nav>
		{{#link-to 'dashboard'}}{{fa-icon "home"}} Dashboard{{/link-to}}
		{{#link-to 'videos'}}{{fa-icon "video-camera"}} Videos{{/link-to}}
		{{#link-to 'analyses'}}{{fa-icon "area-chart"}} Analyses{{/link-to}}
		{{#link-to 'groups'}}{{fa-icon "users"}} Groepen{{/link-to}}
		{{#link-to 'sports'}}{{fa-icon "futbol-o"}} Sporten{{/link-to}}
	</nav>
	<span id="profileInfo">
		{{#link-to 'profile.edit'}}Mathijs Jansen{{/link-to}}
		<img id="profileImg" src=""/>
	</span>
</header>

<section id="content">
	{{outlet}}
</section>
