<h1>Groepen</h1>

{{log model}}

<ul>
  {{#each model as |group|}}
    <li class="group-item">
		{{#link-to 'videos.show' group}}
		{{group.name}}
		<section class="info">
			<h3>{{group.description}}</h3>
			<hr>
			<p>{{group.sport_id}}</p>
			<hr>
			<button>Bekijk</button>
			<button {{action 'removeAnalyse' group}}>x</button>
		</section>
		{{/link-to}}
	</li>
  {{/each}}
</ul>
